recursive-include qttk/data/ AWU.csv
recursive-include qttk/data/ FSVO.csv
recursive-include qttk/data/ EZVY.csv
recursive-include qttk/data/ FJKV.csv
recursive-include qttk/data/ OWKQ.csv
recursive-include qttk/data/ JMS.csv
recursive-include qttk/data/ BGN.csv
recursive-include qttk/data/ TGXX.csv
recursive-include qttk/data/ JMS.csv
recursive-include qttk/data/ HRVC.csv
recursive-include qttk/ *.py
include qttk/version.txt


